html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #45badd;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/assists/robot.gif);
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  background: #ff5c9b;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: rgb(247, 241, 247);
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

button:hover {
  filter: brightness(0.9);
}

button:active {
  transform: scale(0.98);
}
